//  Footer
@import "color";


.footer {

	&_row-1 {
		display: flex;
		justify-content: space-between;
		padding: 4rem 0;

		h5 {
			font-size: 1rem;
		}

		ul {
			padding: 0;
			margin: 1rem 0;
		}

		li {
			list-style-type: none;
			padding-bottom: 1rem;
			color: $--text;
		}

		a {
			text-decoration: none;
			color: $--text;
			margin-left: .6rem;
		}

		&_about {
			flex-basis: 40%;
			padding-right: 5rem;

			&_link-icons {
				padding-top: 1rem;

				i {
					padding: .5rem;
					border-radius: 50%;
					font-size: 1rem;
					background-color: $--primary;
					color: $--white;
					cursor: pointer;
				}
			}
		}

		&_pages {
			flex-basis: 15%;
		}

		&_resources {
			flex-basis: 15%;
		}

		&_contact {
			flex-basis: 30%;
		}
	}

	&_row-2 {
		text-align: center;
		padding-bottom: 5rem;
	}
}