@import "color";

@media screen and (max-width: 600px) {
	:root {
		font-size: 18px;
	}

	body {
		padding: 1rem;
	}
	
	.navbar {

		&_menu {

			&_links {
				display: none;
			}
		}
	}

	.header {

		&_content {
			flex-direction: column;
			display: block;
			transform: none;
			position: static;

			&_left {
				flex-basis: 100%;
			}

			&_right {
				flex-basis: 100%;
			}
		}
	}

	.our-features {

		&_row-2 {
			flex-direction: column;
			margin-top: 10rem;
		}
	}

	.why-our-agency {
		flex-direction: column;
	}

	.our-services {

		&_row-2 {
			grid-template-columns: auto;
		}
	}

	.testimonials {

	}

	.footer {

		&_row-1 {
			flex-direction: column;
		}
	}
}