// -----------Why our agency-------------

.why-our-agency {
	display: flex;
	justify-content: space-between;
	padding: 17rem 0;

	&_col-1 {
		flex-basis: 55%;
	}

	&_col-2 {
		flex-basis: 35%;
	}

	p {
		margin: 20px 0;
	}

	button {
		margin-top: 2.5rem;
		color: $--white;
	}
}